.header-tbm{
     margin: 0;
}

.main-container{
  padding: 2%;
}

.user-profile{
  padding: 3%;
  margin: 10px;
  margin-bottom: 5%;
}

.content-tbm{
  margin: 10px;
  margin-bottom: 5%;
}

.photo-img{
  height: 40px;
}

.post-owner{
  padding: 5px;
}

.post-content{
  margin: 0px;
  padding-bottom: 5px;
}

.caption{
  margin-left: 5px;
  margin-right: 5px;
}
